<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="post" action="/piglatinize">
      <p>
        <div><label for="user_phrase">Enter your phrase:</label></div>
        <input type="text" id="user_phrase" name="user_phrase">
      </p>
      <p>
        <input type="submit" value="convert">
      </p>
    </form>
  </body>
</html>
