<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
  
    <form method="POST" action="/latinized">
      <p>Enter your phrase:</p>
      <textarea user_phrase="user_text"></textarea>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>